* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#header {
    background-color:white;
    color:green;
    text-align:left;
    width: 100%;
    height: 70px;
    line-height: 70px;
    top:0;
}
#footer {
    background-color:white;
    clear:both;
    text-align:center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    text-align: center;
}
.main_Container{
    background: url("./background.jpeg") no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
}

.regist_Container{
    background-color: white;
    width: 880px;
    height: 100%;
    align-content: center;
    position:fixed;
    top: 9%;
    left: 0;
    right: 0;
    margin:0 auto;
}

